MEMBERSHIP_PAYMENT_ENABLED=false
WX_APP_ID=wx_your_mini_program_appid
WX_APP_SECRET=configure_only_in_cloud_secret_management
WX_VIRTUAL_OFFER_ID=offer_id_from_virtual_payment_console
WX_VIRTUAL_APP_KEY=production_app_key_configure_only_in_cloud
WX_VIRTUAL_PRODUCT_ID=published_membership_product_id
WX_MESSAGE_TOKEN=configure_only_in_cloud_and_message_push_console
WX_MESSAGE_AES_KEY=43_character_encoding_aes_key_configure_only_in_cloud
